PORT=5000

MONGODB_URI=mongodb+srv://shubham:Shubham123@cluster0.irzdn4x.mongodb.net/smart-url?retryWrites=true&w=majority

JWT_SECRET=supersecretkey123

NODE_ENV=development

BASE_URL=http://localhost:5000